
@font-face {
    font-family: cowboy;
    src: url(../images/PixelCowboy.otf);
}
.hidden_event{
    position: fixed;
    
}
/* body{
    font-family: cowboy !important;
    color: #fffbf4 !important;
} */
p{
    font-size: 1em !important;
}
.text_area{
    background: #d64516;
    opacity: 1.1em;
    border-style: groove;
    border-width: 20px;
    border-color: #eb892f;
    font-family: cowboy !important;
    color: #fffbf4;
    text-shadow: 3px 3px black;

}
.main_screen{
    max-height:420px;
    margin-bottom: 50px;
}
.van_img{
  
   
  
    height: 1%;
    margin-right: 4px;
    position: relative;
    top: 400px;
    
    
}
body{
    background-image: url("../images/pixelDesert.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.stat_bar{
    background: #d64516;
    opacity: .9;
    border-style: groove;
    border-width: 20px;
    border-color: #eb892f

}
.stat_value{
   
    opacity: 1;
}
.hidden-store{
    width: 50%;
   
}
.hidden{
    display: none !important;
   

}
.shop_image{
    
    background: #ed9031;
    background-image: url("../images/andrea_pixel.jpeg");
    height: 250px;
    border-style: groove;
    border-width: 20px;
    border-color: #eb892f;
    margin-top: 25px;
    background-size: cover;
}

.trump{
    background-image: url("../images/trump_pixel.gif");
    border-style: groove;
    border-width: 20px;
    border-color: #eb892f;
    background-size: cover;
    height:1200px;
}
.intro_text{
     border-style: groove;
    border-width: 20px;
    border-color: #eb892f;
    
    background: #d64516;
    opacity: .9;
}
.headline{
height: 350px;
margin-top:  50px;
}
.banner{
    font-size: 4em;
}
.sub-banner{
    font-size: 2em;
}
.city_image{
    height: 100%;
}
.city_container{
    height:750px;
    background-size: cover;
    position: relative;
    bottom: 380px;
    opacity: 1;
}

.img_row{
    height:85%;
}
.enemy_image{
    background: #ed9031;
   
    height: 250px;
    border-style: groove;
    border-width: 20px;
    border-color: #eb892f;
  
    background-size: cover;
    
    
}
.player_weapon{
    background: #ed9031;         
    background-image: url("../images/cap_pixel.jpeg");
    height: 250px;
    border-style: groove;
    border-width: 20px;
    border-color: #eb892f;
  
    background-size: cover;}
.yellowText{
    color:yellow;
}
.greenText{
    color:#29a745;
}
.redText{
    color: #e41616;
    text-shadow: 3px 2px #040404;
 
}
.modal-content {
    background: #d64516 !important
}
.fight_container{
    margin-top: 50px;
}